<nav class="navbar navbar-expand-lg bg-body-tertiary color" data-bs-theme="dark"
  
    style="background: radial-gradient(circle at 62.1% 4.84%, #9f53b4 0, #7a4399 16.67%, #55327a 33.33%, #321f59 50%, #120c38 66.67%, #00001d 83.33%, #000000 100%);">
    <div class="container-fluid">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bank2" viewBox="0 0 16 16" style="color: whitesmoke;">
        <path d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z"/>
      </svg>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link" style="color: whitesmoke;" href="/user/Homi">Home

            </a>

          </li>
        

          <li hidden class="nav-item">
            <a class="nav-link" href="/login" style="color: whitesmoke;">Ingresar</a>

          </li>

          <li class="nav-item">

      <a class="nav-link" href="Event" style="color: whitesmoke;">VotarEventos </a> 
      
    </li>

          <li class="nav-item">
            <a class="nav-link"   style="color: whitesmoke;" href="Vote2" >Votaciones</a>
          </li>
          

                  
<div  hidden class="btn-group" style=" background-color: transparent; margin-top: 3px;">
  <a type="button"  class="btn btn-secondary" style="background-color: transparent; border:none;" href="Votaciones.html" >Votaciones</a>
  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" style="background-color: transparent; border: none;" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden" style="background-color: transparent; border:none;">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" style="background: radial-gradient(circle at 62.1% 4.84%, #9f53b4 0, #7a4399 16.67%, #55327a 33.33%, #321f59 50%, #120c38 66.67%, #00001d 83.33%, #000000 100%);">
    <li class="nav-item">

      <a class="nav-link" href="VotarEventos.html" style="color: whitesmoke;">VotarEventos <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 2px;" width="16" height="16" fill="currentColor" class="bi bi-receipt-cutoff" viewBox="0 0 16 16">
        <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
        <path d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293 2.354.646zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z"/>
      </svg></a> 
      
    </li>
    
    <li  hidden   class="nav-item">




      <a class="nav-link" href="CrearVotación.html" style="color: whitesmoke;">CrearVotación <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 2px;" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
        <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
        <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
      </svg></a>
    </li>
  </ul>
</div>




        </ul>

        <div class="container"><div class="row"><div class="col-6">

        </div><div class="col-6" style="text-align: right;"> 


        
        
        
        <a class="nav-link" href="invitado" style="color: whitesmoke;">
           <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="color: white;">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          
                 <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
    Cerrar sesión
</a>

        
        </div></div> </div>





       

      </div>
    </div>

  </nav>