


{{>navbar_admin}}

<body style="background-image: linear-gradient(to right top, #ffffff, #d0c7fb, #a290f3, #705ae8, #241eda);">
</body>

    <div class="sticky-top" style="margin-top: 20px; background-color: #fff; max-width: 500px; margin: 20px auto; border-radius: 8px; box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5); padding: 30px 20px;">
        <h1>Crear un Nuevo Evento</h1>
        <hr>
        <form action="/user/crear-evento" method="POST">
            <label for="title" class="form-label">Título:</label>
            <input type="text" class="form-control" id="title" name="title" required>

            <label for="description" class="form-label">Descripción:</label>
            <textarea class="form-control" id="description" name="description" required></textarea>

            <label for="date" class="form-label">Fecha:</label>
            <input type="datetime-local" class="form-control" id="date" name="date" required>

            <label for="fechaTermino" class="form-label">Fecha de Término:</label>
            <input type="datetime-local" class="form-control" id="fechaTermino" name="fechaTermino" required>

            <label class="form-label">Opciones (separadas por comas):</label>
            <input type="text" class="form-control" id="options" name="options" required>

            <button type="submit" class="btn btn-outline-secondary">Crear Evento</button>
        </form>
    </div>



