{{>navbas_user}}


<h1>Usuarios</h1>

{{#each allEvents}}

  <h3>{{customId this}} </h3>
  <ul>
    <li>
      Titulo:
      {{customTitle}}
    </li>
    <li>
      Options
      {{Options this}} 
    </li>
    <li>
      Estado:
      {{customActivo this}}
    </li>
  </ul>
{{/each}}