


 <link rel="stylesheet" href="/html-boostrap/Style.css">
 
 
  {{>navbar_admin}}

  
 <body style="background-color:whitesmoke ">




<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">

    <div class="carousel-item active 2">

      <div class="background-cover"></div>

    </div>

  </div>


  <div style="position: absolute;top:40%;background-size: cover; transform:translate(-50%, -50%);left:50%">
    <div style="position: relative; display:flex; justify-content: center">
      <div class="form-control border-success cuadro-texto">
        <h1 class="transparent-text" style=" background-image: url('/html-boostrap/Banner.jpg');">
          Bienvenido     {{user.name}}
        </h1>
      </div>
    </div>
  </div>

</div>




<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">

   


    </div>
    <div class="col-3"> </div>


  </div>
</div>



<div class="container">
<div class="row">

<div class="col-6" style="margin-top: 20px;">
  <h2>
  <em>
  
    <strong style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> A trabajar!  </strong>
    <svg  style="color: black;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bank2" viewBox="0 0 16 16" style="color: whitesmoke;">
      <path d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z"/>
    </svg>
  </em>
</h2>
<p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; justify-content: center;">
  ¡Bienvenido nuevamente {{user.name}}!, te extrañamos, hay mucho trabajo por hacer, mucha gente continua votando y recuerda que debes mantener esta pagina a flote!, suerte!!!
</p>
</div>


</div>
</div>



<div class="container" hidden>
  <div class="row" style="margin: bottom 20px;">
    <div class=" col-6"></div>
    <div class=" col-6"><h2>
      <em>
        <strong style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; justify-content: center;"> ¿Cómo votar? </strong>
      </em>
    </h2>
    <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; justify-content: center;">
      Para comenzar a votar dirigete a la seccion VotarEventos, ahi podras visualizar los eventos que estan disponibles para votar, selecciona el que mas te guste y vota por el, en el apartado de votaciones quedara registro de todas las votaciones en las que estes particiándo o hayas participado.
    </p></div>
    
  </div>
</div>



</div>
<div>
  <div class="container" hidden>
    <div class="row">
      <div class="col-12">
          <h2>
        <em><strong style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; justify-content: center;">Participantes!</strong></em>
        </h2>
          <p>Estos son nuestros participantes, tienes la oportunidad de votar multiples de sus caracteristicas, desde atencion hasta aplicacion, solo mantente atento a cuando las votaciones inicien!</p>

          <img src='/html-boostrap/Santander.jpeg' width="200" height="200" style="border: 1px solid #000; border-radius: 50%; margin-right: 20px;margin-bottom: 20px;">
    

          <img src="/html-boostrap/Banco_Fallabella.jpeg" width="200" height="200" alt="Banco Fallabella Image" style="border: 1px solid #000; border-radius: 50%;margin-right: 20px;margin-bottom: 20px;">


          <img src='/html-boostrap/BChile.jpeg' width="200" height="200" style="border: 1px solid #000;border-radius: 50%;margin-right: 20px;margin-bottom: 20px;">


          <img src='/html-boostrap/Itau.jpeg' width="200" height="200" style="border: 1px solid #000;border-radius: 50%;margin-bottom: 20px;">


     </div>
    </div>
  </div>
</div>


<footer>
  <div style="height: 40px; width: 100%; background-color:#00001d; color: #ffffff; flex-grow: 1; padding: 10px;">
    2023 - 2024 ©BancoVota - Todos los derechos reservados.
  </div>
</footer>






 </body>