 {{>navbar}}
 <link rel="stylesheet" href="/html-boostrap/Style.css">
 
 
 
 <body style="background-color:whitesmoke ">




<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">

    <div class="carousel-item active 2">

      <div class="background-cover"></div>

    </div>

  </div>


  <div style="position: absolute;top:40%;background-size: cover; transform:translate(-50%, -50%);left:50%">
    <div style="position: relative; display:flex; justify-content: center">
      <div class="form-control border-success cuadro-texto">
        <h1 class="transparent-text" style=" background-image: url('/html-boostrap/Banner.jpg');">
          BIENVENIDO
        </h1>
      </div>
    </div>
  </div>

</div>




<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">

   


    </div>
    <div class="col-3"> </div>


  </div>
</div>



<div class="container">
<div class="row">

<div class="col-6" style="margin-top: 20px;">
  <h2>
  <em>
  
    <strong style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"> ¿Quienes somos?  </strong>
    <svg  style="color: black;" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bank2" viewBox="0 0 16 16" style="color: whitesmoke;">
      <path d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z"/>
    </svg>
  </em>
</h2>
<p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; justify-content: center;">
  ¡Bienvenidos a nuestra plataforma de votaciones bancarias! En un mundo lleno de opciones financieras, es esencial conocer la opinión y preferencia de las personas cuando se trata de elegir un banco.
 Cada caracteristica sera puesta a  prueba en un determinado momento, servicio, atencion, aplicacion, entre otros. 
  ¡Comencemos a votar hoy mismo!
</p>
</div>


</div>
</div>



<div class="container">
  <div class="row" style="margin: bottom 20px;">
    <div class=" col-6"></div>
    <div class=" col-6"><h2>
      <em>
        <strong style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; justify-content: center;"> ¿Cómo votar? </strong>
      </em>
    </h2>
    <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; justify-content: center;">
      Para comenzar, simplemente regístrate utilizando la opción "Registrar" para crear tu cuenta personal.
      Una vez que hayas completado tu registro, tendrás acceso a eventos y encuestas en los que podrás expresar tu preferencia mediante "VotarEventos".
      ¡No esperes más! Regístrate hoy y comienza a votar por los bancos que más te agraden.
    </p></div>
    
  </div>
</div>



</div>



<footer>
  <div style="height: 40px; width: 100%; background-color:#00001d; color: #ffffff; flex-grow: 1; padding: 10px;">
    2023 - 2024 ©BancoVota - Todos los derechos reservados.
  </div>
</footer>






 </body>