{{>navbar}}


<body style="background-color: gray;">
  <div class="sticky-top" style="margin-top: 20px; background-color: #fff; max-width: 500px; margin: 20px auto; border-radius: 8px; box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5); padding: 30px 20px;">

    <form action="/user/login" method="post">
        <h1>Ingresar</h1>
        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Email</label>
            <input type="text" class="form-control" id="exampleInputEmail" name="email" placeholder="Ingresa tu Email">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword" name="password" placeholder="Ingresa tu Contraseña">
        </div>
        <button type="submit" class="btn btn-outline-secondary">Login</button>
        
        <a href="/user/create" style="margin-left: 270px;" class="btn btn-outline-success">Registrarse</a>
    </form>
  </div>
</body>
