{{>navbas_user}}

<body style="background-image: linear-gradient(to left bottom, #f2ebf1, #d5b3d4, #b47db9, #8f499f, #660688);">
    
</body>



<div class="container">

<div class="row">
<div class="col-2"></div>

    <form class="card" style="display: flex;text-align:center ">
    <h1>Voto registrado!!!</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>





    </form>
<div class="col-2"></div>
</div>


</div>